/*********************************
* the Elephant in the Room: TOP
*********************************/
#index-firstview {
  display: grid;
  height: 100vh;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
/******right side*****/
.index-fv-title {
  height: 100vh;
  display: flex;
  font-size: 50px;
  text-align: right;
  justify-content: end;
  align-items: center;
}
.elephant-letter {
  color: crimson;
}
.index-fv-img>img {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
}
.index-fv-img {
  display: flex;
  align-items: center;
  justify-content: start;
}

/*****left side*****/
.index-intro-title {
  font-size: 30px;
  text-align: center;
}
.index-intro-img {
  display: flex;
  justify-content: center;
}
.index-intro-text {
  width: 80%;
  font-size: 40px;
  display: flex;
  align-items: center;
}
.index-message {
  margin-top: 50px;
  background-color:palegreen;
  font-size: 25px;
  text-align: center;
}
/*****responsive design*****/
@media(max-width: 400px) {
  .index-firstview {
    grid-template-columns: 1fr;
  }
}

/*---------------------------
CRUDのチュートリアル
コメントリスト
----------------------------*/

.crud-card {
  margin: 10px;
  padding: 5px;
  border: 1px dashed #000;
}

.crud-card-description {}

.crud-card-updated_at {
  font-size: 12px;
  text-align: right;
}

.crud-card-detail {
  display: flex;
  justify-content: end;
}

.crud-form {}

.crud-edit {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 10px;
}

.crud-delete {
  font-size: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  margin-right: 10px;
  margin-left: 5px;
}

/*---------------------------
CRUDのチュートリアル
コメント追加/更新フォーム
----------------------------*/
.crud-form-contents {
  display: flex;
  justify-content: center;
}

.crud-form-contents label {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.crud-form-input {
  width: 200px;
}

.crud-form-submit {
  display: block;
  width: 100px;
  margin: 0 auto;
}
/*---------------------------
Layout
----------------------------*/
header{
  background-color: crimson;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: bisque;
  padding-right: 10px;
  padding-left: 10px;
}
header> #title {
font-size: 25px;
font-weight: 800;
}
header> #menu> a {
  color: bisque;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}

button{
  background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.wrapper{
  height: 100vh;
}
.footer{
  margin: 0;
  height: 12px;
}
/*********************************
* Table
*********************************/
th,td {
  border: solid 1px;          /* 枠線指定 */
}

table {
  border-collapse:  collapse; /* セルの線を重ねる */
  width:  100%;               /* 幅指定 */
  table-layout: fixed;        /* セルの幅計算指定 */
}
/*********************************
* grid
*********************************/
.grid-two-block{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

/*********************************
* button
*********************************/
.button{
  display: block;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.primary{
  border-color: aquamarine;
  background-color: aquamarine;
}
.error{
  border-color:tomato;
  background-color: tomato;
}
/*********************************
* text
*********************************/
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

/*********************************
* Form
*********************************/
.label{
  display: block;
  width: 160px;
}
.form-input{
  margin:5px;
  padding: 5px;
  width: 150px;
  border-radius: 5px;
}
/*********************************
* FlexBox
*********************************/
.flex-box{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}

/*********************************
* margin
*********************************/
.my-2{
  margin-top: 10px;
  margin-bottom: 10px;
}
/*********************************
* padding
*********************************/
.pa-1{
  padding: 5px
}
.pa-2{
  padding: 10px
}
/*********************************
* hamburger-menu
*********************************/
.header-nav {
  position: fixed;
  right: -250px;
  top: 50px;
}
/*****navigation*****/
.nav-items {
  padding-left: 0;
  background-color: powderblue;
}
.nav-item {
  list-style: none;
}
.nav-item a {
  color: black;
  width: 200px;
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 24px;
  text-decoration: none;
}
/*active*/
.header-nav.active {
  right: 0px;
  transition: ease .4s;

}
/*****hamburger*****/
.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}
.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 6px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}
/*active*/
.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}
/*********************************
* hamburger-menu
*********************************/
.tab-list {
  overflow-x: unset;
  display: flex;
}
.tab-list li{
      width: 300px;
      border: 1px solid #333;
      border-left: none;
      border-bottom: none;
      font-size: 20px;
      text-align: center;
      padding: 10px;
      color: #333;
      transition: 0.2s ease;
      cursor: pointer;
      list-style: none;
      &:first-child {
        border-left: 1px solid #333;
      }
      &:hover {
        background: #333;
        color: #fff;
      }
      &.active {
        background: #333;
        color: #fff;
      } 
}
.tab-container {
  border: 1px solid #333;
  /* padding: 20px; */
  line-height: 2;
}
.tab-content {
  display: none;
  &.active {
    display: block;
  }
}
/*********************************
modal
*********************************/
/* ボタンのデザイン */
.modal-btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background: aquamarine;
  border-radius: 5px;
  color: #000;
  margin: 20px;
  transition: 0.3s;
}

.modal-btn:hover {
  opacity: .8;
}

/* オーバーレイ */
.overlay {
  /* 位置を固定 */
  position: fixed;
  top: 0;
  left: 0;
  /* 画面いっぱいに広がるようにする */
  width: 100%;
  height: 100vh;
  /* rgbaを使って60%の黒いオーバーレイにする */
  background: rgba(0, 0, 0, 0.6);  
  /* デフォルトでは見えないようにする */
  opacity: 0;
  visibility: hidden;
  /* 表示する際の変化の所要時間 */
  transition: .3s;
}

/* activeクラスのついたオーバーレイ */
.overlay.active {
  /* activeクラスがついたときにオーバーレイを表示する */
  opacity: 1;
  visibility: visible;
}

/* モーダルウィンドウ */
.modal {
  max-width: 500px;
  width: 86%;
  padding: 15px 20px;
  background: #fff;
  /* 位置の調整(真ん中に表示) */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* デフォルトでは非表示にしておく */
  opacity: 0;
  visibility: hidden;
  /* 表示の変化にかかる時間 */
  transition: .3s;
}

/* activeクラスのついたモーダルウィンドウ */
.modal.active {
  opacity: 1;
  visibility: visible;
}

/* モーダルウィンドウ内の閉じるボタン */
.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}

.modal h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}

.modal p {
  font-size: 13px;
}
